.grid3col{ 
    display: flex;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid3Col__item{
    width: auto;
    gap: 2rem;
    height: auto;
    display: flex;
    flex-direction: 33.33%;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

}

.items{
    /* background-color: #61dafb; */
    background-color: black;
    padding: 2rem;
    height: 11rem;
    width: 10rem;
    margin: auto;
    border-radius: 3rem;
    color: white;
}

.icon{
    width: 2rem;
    height: 2rem;
    padding: 2rem;
    border-radius: 50%;
    background-color: #fff;
    color: black;
}

