.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}


Button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: auto;


}

.HeroSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: auto;
}

.Trusted{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  background-color: lightgray;
  padding-bottom: 2rem;
  margin: 0 auto;
  max-width: auto;
} 

.Services{
  display: grid;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
